@page "{pageNumber:int?}"
@model IndexModel
@{
    ViewData["Title"] = "Предложить уровень";
}
@using GDLevels.Pages.Shared.Components



<div class="text-center">
    <h5>Здесь можно предложить свой GD уровень для канала Pull Push Play</h5>
    <p class="@(Model.UploadStatusMessage.IsSuccessful ? "text-success" : "text-danger") font-weight-bold mt-3">
        @Model.UploadStatusMessage.Message</p>
    <form class="mt-4 mb-4" method="post" action="~/Index/1">
        
        <label>ID уровня:&nbsp;</label>
        <input type="number" name="levelid" max="99999999" min="10000000" placeholder="12345678" id="levelid" oninput="OnIDValueChanged(this)" required class="rounded"/>
        
        <input type="submit" value="Предложить" id="submit_level" class="rounded btn-outline-danger btn-animated" />

                
            
        
    </form>
    <component type="typeof(LevelsTable)" render-mode="Static" param-LevelsAdapter="@Model.LevelsAdapter" param-CurrentPage="@Model.PageNumber" />
    <script type="text/javascript">
        function OnIDValueChanged(sender) {
            if (sender.validity.valid) {
                document.getElementById("submit_level").classList.remove("btn-outline-danger");
                document.getElementById("submit_level").classList.add("btn-success");
            }
            else {
                document.getElementById("submit_level").classList.remove("btn-success");
                document.getElementById("submit_level").classList.add("btn-outline-danger");

            }
        }

    </script>

</div>
