@page "{key?}"
@model GDLevels.Pages.RandomModel
@{
    ViewData["Title"] = "Рандомайзер уровней";
}
<div class="text-center">
    <h2>Рандомайзер уровней</h2>
    @if (Model.LevelsCount != 0)
    {
        @if (Model.SelectedID != 0)
        {
            <h4>Выбран уровень</h4>
            <h1 class="text-success font-weight-bold">@Model.SelectedID</h1>
            <h6>Чтобы выбрать ещё один уровень - нажмите на кнопку</h6>
        }
        @if (Model.SelectedID == 0)
        {
            <h6>Чтобы выбрать случайный уровень из предложенных - нажмите на кнопку</h6>
        }
        <form method="post">
            <input type="submit" class="btn-primary btn-animated rounded" value="Выбрать уровень" asp-page-handler="Randomize" name="randomize" />
            @if (Model.SelectedID != 0 && Model.IsKeyValid)
            {

                <input type="submit" name="deleteLevel" asp-page-handler="DeleteLevel" value="Удалить выбранный уровень из базы данных" class="btn-danger btn-animated rounded" />
                <input type="hidden" name="SelectedID" value="@Model.SelectedID" />
            }
        </form>
        <h6>Всего предложено уровней: @Model.LevelsCount</h6>
    }
    @if (Model.LevelsCount <= 0)
    {
        <h3 class="text-danger font-weight-bold">Ещё не было предложено ни одного уровня :(</h3>
    }

</div>